/*
Colours used:

Moccasin:#FFE4B5;
Sienna: #A0522D;
Dark Salmon: #E9967A;
Dark Red: #8B0000;
Orange:#FFA500;
DarkOliveGreen: #556B2F;
LavenderBlush: #FFF0F5;
LightPink: #FFB6C1;
LightSalmon: #FFA07A;
SaddleBrown: #8B4513;
Gainsboro: #DCDCDC;
*/

/* 
Fonts used:
font-family: 'Bangers', 'cursive';
*/

:root {
  --primary-color: #ffe4b5;
  --secondary-color: #e9967a;
  --sienna: #a0522d;
  --dark-red: #8b0000;
  --fuscia: #ff00ff;
  --orange: #ffa500;
  --dark-olive-green: #556b2f;
  --dark-salmon: #e9967a;
  --gainsboro: #dcdcdc;
  --lavender-blush: #fff0f5;
  --light-pink: #ffb6c1;
  --light-salmon: #ffa07a;
  --saddle-brown: #8b4513;
  --peru: #cd853f;
  --white: #fff;
  --black: #000;
  --font-size-default: 24px;
  --font-size-header: 44px;
  --max-width-full-size: 700px;
  --max-width-viewport-size: 328px;
  --font-weight-headers: 700;
  --margin-default: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/marble.jpeg);
  background-size: cover;
  background-color: var(--gainsboro);
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: var(--font-size-default);
  font-weight: 250;
  line-height: 2.6;
  text-shadow: 0.5px 0.5px var(--white);
  color: var(--black);
}

img {
  height: auto;
  width: 100%;
  display: block;
}

.page-header {
  box-shadow: 0 0.5px 0 0 var(--white);
  display: flex;
  flex-wrap: nowrap;
  margin: var(--margin-default);
  padding: 20px;
  border-bottom: 0.5px inset var(--black);
  width: 100%;
}

.page-header__item {
  flex: 0 1 200px;
  margin: var(--margin-default);
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}

.navigation-list__item {
  font-size: 30px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.container_profile,
.container_work,
.container_contact {
  margin-top: 250px;
  margin-bottom: 250px;
}

.container_profile {
  margin-top: 0px;
  margin-bottom: 250px;
}

.container_languages {
  margin-top: 250px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
}

.container_work {
  margin-top: 0px;
  margin-bottom: 250px;
}

.container_contact {
  margin-top: 450px;
  margin-bottom: 250px;
  text-align: center;
}

#contact-body,
#contact-form-container {
  max-width: var(--max-width-full-size);
  margin: var(--margin-default);
}

.profile {
  margin-left: 200px;
}

#about-body {
  margin-right: 150px;
}

.about-link {
  margin-top: 200px;
}

.cta-section {
  text-align: center;
}

.check-out-link {
  color: var(--black);
}

.check-out-link:hover {
  color: var(--saddle-brown);
}

.languages-body {
  clear: both;
  display: flex;
  flex-direction: column;
}

.languages-body__item {
  flex: 0 1 50px;
}

.languages-body__item:first-child {
  text-align: center;
  font-size: var(--font-size-header);
}

.languages-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.languages-container__item {
  position: relative;
  flex: 0 1 100px;
  text-align: center;
}

#work-body {
  margin: 4em;
  text-align: center;
  justify-content: center;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.page-footer__item {
  flex: 0 1 20px;
}
#contact-body {
  text-align: center;
}
.contact-styles li {
  list-style: none;
}
.page-footer {
  margin-top: 20px;
}
.page-footer__item:first-child {
  text-align: center;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-container__item {
  position: relative;
  flex: 0 1 50px;
  text-align: center;
}

.profile__portrait {
  float: left;
  height: auto;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px var(--black);
}

.profile_logo {
  width: 70px;
  height: 75px;
}

#alt-font {
  font-size: 20px;
  font-family: serif;
}

h1 {
  font-size: 40px;
  font-weight: var(--font-weight-headers);
  line-height: 1.6;
  margin: 1em;
}

h2 {
  font-size: 40px;
  font-weight: var(--font-weight-headers);
  line-height: 1.2;
}

h3 {
  font-size: 28px;
  font-weight: var(--font-weight-headers);
  line-height: 1;
}

p {
  font-size: 30px;
  line-height: 1.4;
}

a {
  color: var(--saddle-brown);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--peru);
}

a:active {
  color: var(--orange);
}

button,
.button {
  border: none;
  font-family: inherit;
  background-color: var(--white);
  color: var(--saddle-brown);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--black);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* Grid fallback */

/* Styling CSS grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: auto;
  text-align: center;
}

.grid__item {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--black);
  text-align: center;
  width: 14em;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8),
    0 24px 80px 0 rgba(0, 0, 0, 0.76);
}

.grid__item:hover {
  transition-duration: 0.1s;
  padding: 1px;
}

.grid__item img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

thead {
  text-align: left;
}

/* End Styling CSS grid */

/* Start Modal styling */

#workModal {
  line-height: 2;
}

.modal-content {
  background-image: url(../img/marble.jpeg);
  background-size: contain;
}

.modal-body {
  text-align: center;
}

.img-wrapper {
  height: 400px;
  width: 400px;
  margin: auto;
}

.btn-demo {
  background-color: var(--black);
  text-shadow: none;
  color: var(--white);
}

.btn-demo:hover {
  color: var(--white);
}
.btn-code:hover {
  color: var(--black);
}

.btn-code {
  background-color: var(--white);
  color: var(--black);
}

/* End Modal styling */

/* 
Arrow styling start
*/
.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid var(--black);
  border-right: 5px solid var(--black);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/* 
Arrow styling end
*/

/* Media styling goes at the very end of CSS file */

/* Media query for displays smaller than 500px */
/* "all" specifices to which media it should be applied
    Other possible values include screen, print, and speech (the value all encompasses all of these).
 */

@media all and (min-width: 500px) and (max-width: 965px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: var(--font-size-default);
  }
  h3 {
    font-size: 12px;
  }
  .navigation-list a {
    font-size: 22px;
  }
  .profile,
  #about-body,
  #contact-body,
  #contact-form-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media all and (max-width: 717px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .navigation-list a {
    font-size: 18px;
  }
  .grid__item img {
    height: 200px;
    width: 200px;
  }
  .grid__item {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media all and (max-width: 420px) {
  .body {
    text-align: center;
    justify-content: center;
  }
  h3 {
    font-size: small;
  }
  h2 {
    font-size: smalls;
  }

  p {
    font-size: large;
  }
  .navigation-list a {
    font-size: large;
  }
  .navigation-list li {
    margin-bottom: -20px;
    margin-right: 5px;
  }
  .navigation-list {
    padding-left: 0px;
    margin-top: -20px;
  }
  /* .navigation-list {
    justify-content: flex-start;
  } */
  .page-header {
    height: 60px;
  }
  .profile__portrait {
    float: unset;
    width: 180px;
    height: 250px;
  }
  .profile,
  #about-body,
  #contact-body,
  #contact-form-container {
    max-width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  #about-body {
    margin-bottom: -10px;
  }
  .grid__item {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--black);
    text-align: center;
    width: 8em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8),
      0 12px 40px 0 rgba(0, 0, 0, 0.76);
  }
  .container_profile {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 450px;
  }
  .profile__portrait {
    margin: auto;
  }
  .container-languages {
    margin-left: 10px;
    margin-right: 10px;
  }
  .arrow span {
    display: none;
  }
  .arrow {
    display: none;
  }
  .languages-body__item:first-child {
    font-size: var(--font-size-default);
  }
  #contact-body {
    text-align: center;
  }
  .contact-styles {
    font-size: large;
  }

  .contact-title {
    font-size: large;
  }
  .img-wrapper {
    height: 300px;
    width: 300px;
    margin: auto;
  }
}
