/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
Colours used:

Moccasin:#FFE4B5;
Sienna: #A0522D;
Dark Salmon: #E9967A;
Dark Red: #8B0000;
Orange:#FFA500;
DarkOliveGreen: #556B2F;
LavenderBlush: #FFF0F5;
LightPink: #FFB6C1;
LightSalmon: #FFA07A;
SaddleBrown: #8B4513;
Gainsboro: #DCDCDC;
*/

/* 
Fonts used:
font-family: 'Bangers', 'cursive';
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url(../img/marble.jpeg);
  background-size: cover;
  background-color: #dcdcdc;
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 24px;
  font-weight: 250;
  line-height: 2.6;
  text-shadow: 0.5px 0.5px #fff;
  color: #000;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

.page-header {
  -webkit-box-shadow: 0 0.5px 0 0 #fff;
  box-shadow: 0 0.5px 0 0 #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 0.5px inset #000;
  width: 100%;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  margin: 0 auto;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navigation-list__item {
  font-size: 30px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.container_profile,
.container_work,
.container_contact {
  margin-top: 250px;
  margin-bottom: 250px;
}

.container_profile {
  margin-top: 0px;
  margin-bottom: 250px;
}

.container_languages {
  margin-top: 250px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
}

.container_work {
  margin-top: 0px;
  margin-bottom: 250px;
}

.container_contact {
  margin-top: 450px;
  margin-bottom: 250px;
  text-align: center;
}

#contact-body {
  max-width: 700px;
  margin: 0 auto;
}

#contact-form-container {
  max-width: 700px;
  margin: 0 auto;
}

.profile {
  margin-left: 200px;
}

#about-body {
  margin-right: 150px;
}

.about-link {
  margin-top: 200px;
}

.cta-section {
  text-align: center;
}

.languages-body {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.languages-body__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50px;
  flex: 0 1 50px;
}

.languages-body__item:first-child {
  text-align: center;
  font-size: 44px;
}

.languages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.languages-container__item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
  text-align: center;
}

#work-body {
  margin: 4em;
  text-align: center;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1em;
}

.page-footer__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20px;
  flex: 0 1 20px;
}
#contact-body {
  text-align: center;
}
.contact-styles li {
  list-style: none;
}
.page-footer {
  margin-top: 20px;
}
.page-footer__item:first-child {
  text-align: center;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-container__item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50px;
  flex: 0 1 50px;
  text-align: center;
}

.profile__portrait {
  float: left;
  height: auto;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 2px 2px #000;
  box-shadow: 2px 2px 2px 2px #000;
}

.profile_logo {
  width: 70px;
  height: 75px;
}

#alt-font {
  font-size: 20px;
  font-family: serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.6;
  margin: 1em;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}

p {
  font-size: 30px;
  line-height: 1.4;
}

a {
  color: #8b4513;
}

a:hover {
  text-decoration: none;
  color: #cd853f;
}

a:focus {
  text-decoration: none;
  color: #cd853f;
}

a:active {
  color: #ffa500;
}

button {
  border: none;
  font-family: inherit;
  background-color: #fff;
  color: #8b4513;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #fff;
  color: #8b4513;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* Grid fallback */

/* Styling CSS grid */

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1em 1fr 1em 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: auto;
}

.grid__item {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  color: #000;
  text-align: center;
  width: 14em;
  -webkit-box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8),
    0 24px 80px 0 rgba(0, 0, 0, 0.76);
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8),
    0 24px 80px 0 rgba(0, 0, 0, 0.76);
}

.grid__item:hover {
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  padding: 1px;
}

.grid__item img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

thead {
  text-align: left;
}

/* End Styling CSS grid */

/* Start Modal styling */

#workModal {
  line-height: 2;
}

.modal-content {
  background-image: url(../img/marble.jpeg);
  background-size: contain;
}

.modal-body {
  text-align: center;
}

.img-wrapper {
  height: 400px;
  width: 400px;
  margin: auto;
}

.btn-demo {
  background-color: #000;
  text-shadow: none;
  color: #fff;
}

.btn-demo:hover {
  color: #fff;
}
.btn-code:hover {
  color: #000;
}

.btn-code {
  background-color: #fff;
  color: #000;
}

/* End Modal styling */

/* 
Arrow styling start
*/
.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
    transform: rotate(45deg) translate(20px, 20px);
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/* 
Arrow styling end
*/

/* Media styling goes at the very end of CSS file */

/* Media query for displays smaller than 500px */
/* "all" specifices to which media it should be applied
    Other possible values include screen, print, and speech (the value all encompasses all of these).
 */

@media all and (min-width: 500px) and (max-width: 965px) {
  .grid {
    -ms-grid-columns: 1fr 1em 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 12px;
  }
  .navigation-list a {
    font-size: 22px;
  }
  .profile,
  #about-body,
  #contact-body,
  #contact-form-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media all and (max-width: 717px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .navigation-list a {
    font-size: 18px;
  }
  .grid__item img {
    height: 200px;
    width: 200px;
  }
  .grid__item {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media all and (max-width: 420px) {
  .body {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  h3 {
    font-size: small;
  }
  h2 {
    font-size: smalls;
  }

  p {
    font-size: large;
  }
  .navigation-list a {
    font-size: large;
  }
  .navigation-list li {
    margin-bottom: -20px;
    margin-right: 5px;
  }
  .navigation-list {
    padding-left: 0px;
    margin-top: -20px;
  }
  /* .navigation-list {
    justify-content: flex-start;
  } */
  .page-header {
    height: 60px;
  }
  .profile__portrait {
    float: unset;
    width: 180px;
    height: 250px;
  }
  .profile,
  #about-body,
  #contact-body,
  #contact-form-container {
    max-width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  #about-body {
    margin-bottom: -10px;
  }
  .grid__item {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    color: #000;
    text-align: center;
    width: 8em;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8),
      0 12px 40px 0 rgba(0, 0, 0, 0.76);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8),
      0 12px 40px 0 rgba(0, 0, 0, 0.76);
  }
  .container_profile {
    margin-top: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 450px;
  }
  .profile__portrait {
    margin: auto;
  }
  .container-languages {
    margin-left: 10px;
    margin-right: 10px;
  }
  .arrow span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: -5px;
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
  }
  .arrow {
    top: 95%;
  }
  @-webkit-keyframes animate {
    0% {
      opacity: 0;
      -webkit-transform: rotate(45deg) translate(-10px, -10px);
      transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate(45deg) translate(10px, 10px);
      transform: rotate(45deg) translate(10px, 10px);
    }
  }
  @keyframes animate {
    0% {
      opacity: 0;
      -webkit-transform: rotate(45deg) translate(-10px, -10px);
      transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate(45deg) translate(10px, 10px);
      transform: rotate(45deg) translate(10px, 10px);
    }
  }
  .languages-body__item:first-child {
    font-size: 24px;
  }
  #contact-body {
    text-align: center;
  }
  .contact-styles {
    font-size: large;
  }

  .contact-title {
    font-size: large;
  }
  .img-wrapper {
    height: 300px;
    width: 300px;
    margin: auto;
  }
}
